.scrollTableWrapper {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 400px;
}

.scrollTableWrapper::-webkit-scrollbar {
    display: none;
}

.scrollTableHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}