:root {
    --font-size: 16px;
}

[data-theme="light"]{
    --bg-color: white;
    --header-bg-color: gray;
    --body-bg-color: gainsboro;
}

[data-theme="dark"]{
    --bg-color: black;
    --header-bg-color: rgb(63, 63, 63);
    --body-bg-color: rgb(85, 85, 85);
}

#root {
    background: var(--bg-color);
}