.codeInput {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: gray;
    border: none;
}

.codeInput input::-webkit-outer-spin-button,
.codeInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputItem {
    border: 1px solid gray;
    border-radius: 2px;
}

.inputItem input {
  -moz-appearance: textfield;
  border: none;
  outline: none;
  text-align: center;
  
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
}
